
<form action="">
    <span class="p-float-label">
        <input id="float-input" formControlName="username" type="text" pInputText> 
        <label for="float-input">Username</label>
    </span>
    <span class="p-float-label">
        <p-password id="inputtext" formControlName="password" [showClear]="true" [toggleMask]="true" ></p-password>
        <label for="inputtext">Password</label>
    </span>
    <span>
        <p-checkbox name="groupname" value="rememberme"></p-checkbox>
        <label for="checkbox">Remember Me!</label>
    </span>
    
    
</form>