

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    
}

.card{
    align-self: center;
}

.filters h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}